<template>
    <div class="main">
        <div class="text-container">
            <h1>CD's van het Haarlems Accordeonorkest</h1>
            <p>Dit zijn de CDs die in de laatste paar jaren zijn gemaakt door het Haarlems Accordeon Orkest. Wilt u meer weten of er een bestellen?
                Mail naar: <a href="mailto:haarlemsaccordeonorkest@gmail.com" about="blank">haarlemsaccordeonorkest@gmail.com</a>.
            </p>
            <div class="cd-grid">
                <div class="cd-container">
                    <p class="cd-container-title">2019 - Live cd van jubileumconcert november 2019</p>
                    <div class="cd-container-image-container">
                        <img class="cd-container-image" src="/drukwerk/HAO-60-2-web.png"
                             alt="Jubileum november 2019"/>
                    </div>
                    <ol class="cd-container-tracklist">
                        <li>
                            <p class="cd-container-song-title">Schilderijententoonstelling</p>
                            <p class="cd-container-song-composer">Modest Moessorgski (arr. Thomas Bauer)</p>
                        </li>
                        <li>
                            <p class="cd-container-intermezzo"> Stukken uitgevoerd door duo Maaike Lips en Leo van
                                Lierop</p>
                            <ul>
                                <li>
                                    <p class="cd-container-song-title">Kwintet in e-mineur; Op. 88 No. 1-Allegro ma non
                                        Troppo</p>
                                    <p class="cd-container-song-composer">Anton Reicha (arr. Maaike Lips)</p>
                                </li>
                                <li>
                                    <p class="cd-container-song-title">Improvisation, Op. 150 Nr. 7</p>
                                    <p class="cd-container-song-composer">Camille Saint-Saëns (arr. Tim Fletcher)</p>
                                </li>
                                <li>
                                    <p class="cd-container-song-title">Toccata Symfonie Nr. 5</p>
                                    <p class="cd-container-song-composer">Charles-Marie Widor (arr. Leo van Lierop)</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Opale Concerto</p>
                            <p class="cd-container-solist">(solo Leo van Lierop)</p>
                            <p class="cd-container-song-composer">Richard Galliano</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Boardwalk</p>
                            <p class="cd-container-song-composer">Ad Wammes</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Slavonska Rhapsodija </p>
                            <p class="cd-container-song-composer">A. Götz</p>
                        </li>
                    </ol>
                    <nuxt-link to="/orkest/cds/jubileum-november-2019">Klik hier voor de toelichting</nuxt-link>
                </div>
                <div class="cd-container">
                    <p class="cd-container-title"> 2019 - Live cd van jubileumconcert januari 2019</p>
                    <div class="cd-container-image-container">
                        <img class="cd-container-image" src="/drukwerk/CD-cover-HAO-60-web.png"
                             alt="Jubileum januari 2019"/>
                    </div>
                    <ol class="cd-container-tracklist">
                        <li>
                            <p class="cd-container-song-title">Symphonie nr. 9 - deel 4</p>
                            <p class="cd-container-song-composer">A. Dvorák (arr. T. Dalhof)</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Rondo Capriccioso</p>
                            <p class="cd-container-song-composer">W. Solotarjow (arr. H. Quakernack)</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Sometimes (première)</p>
                            <p class="cd-container-song-composer">A. Wammes</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Scherzino</p>
                            <p class="cd-container-song-composer">A. Devátý</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Zigeunerweisen</p>
                            <p class="cd-container-solist">(solo Jeanine van Amsterdam)</p>
                            <p class="cd-container-song-composer">P. de Sarasate (arr. Maurer)</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Fuga Y Misterioso</p>
                            <p class="cd-container-song-composer">A. Piazzolla (arr. R. Baas)</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">La Campanella</p>
                            <p class="cd-container-solist">(solo Vincent van Amsterdam)</p>
                            <p class="cd-container-song-composer">R. Würtner</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Danzón no.2</p>
                            <p class="cd-container-song-composer"> A. Marquez (arr. W. Pfeffer)</p>
                        </li>
                    </ol>
                    <nuxt-link to="/orkest/cds/jubileum-januari-2019">Klik hier voor de toelichting</nuxt-link>
                </div>
                <div class="cd-container">
                    <p class="cd-container-title">2012 - Promenade</p>
                    <div class="cd-container-image-container">
                        <img class="cd-container-image" src="/drukwerk/promenade.jpg"
                         alt="promenade"/>
                    </div>
                    <ol class="cd-container-tracklist">
                        <li>
                            <p class="cd-container-song-title">Chaconne</p>
                            <p class="cd-container-song-composer">H.J. Wedig</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Nostalgia</p>
                            <p class="cd-container-song-composer"> A. Schurbin arr. H. Quakernack</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Boardwalk</p>
                            <p class="cd-container-song-composer">A. Wammes</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Die Zertrümmerte Kathedrale </p>
                            <p class="cd-container-song-composer">V. Trojan</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">La Campanella</p>
                            <p class="cd-container-solist">(solo Vincent van Amsterdam)</p>
                            <p class="cd-container-song-composer">R. Würtner</p>
                        </li>
                    </ol>
                    <nuxt-link to="/orkest/cds/promenade">Klik hier voor de toelichting</nuxt-link>
                </div>
                <div class="cd-container">
                    <p class="cd-container-title">2003 - Impressies</p>
                    <div class="cd-container-image-container">
                        <img class="cd-container-image" src="/drukwerk/impressies.jpg"
                             alt="impressies"/>
                    </div>
                    <ol class="cd-container-tracklist">
                        <li>
                            <p class="cd-container-song-title">Ouverture uber zwei Finnische Themen</p>
                            <p class="cd-container-song-composer">G.d.Godzinsky/ Rudolf Würthner</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Air uit Synfonia alla Barocco</p>
                            <p class="cd-container-song-composer">T.Huggens</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">La Storia</p>
                            <p class="cd-container-song-composer">J. de Haan/ F.Jacobi</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Lord of the dance</p>
                            <p class="cd-container-song-composer">R.P. Hardiman/ arr. H.-G.Kölz</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Präludium und Fuga in a-moll</p>
                            <p class="cd-container-song-composer">M. Sieber</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Adios Nonino</p>
                            <p class="cd-container-song-composer"> A. Piazzolla/ R.Baas</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Milonga en Tango guinar ojo</p>
                            <p class="cd-container-song-composer">G. Daanen</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Slavonska Rhapsodija</p>
                            <p class="cd-container-song-composer">A.Götz</p>
                        </li>
                        <li>
                            <p class="cd-container-song-title">Music</p>
                            <p class="cd-container-song-composer">J. Miles</p>
                        </li>
                    </ol>
                    <nuxt-link to="/orkest/cds/impressies">Klik hier voor de toelichting</nuxt-link>
                </div>
            </div>
        </div>

    </div>
</template>