<template>
    <div class="main">
        <nuxt-link to="/orkest/cds" class="back-link">
            Terug naar alle CDs
        </nuxt-link>
        <div class="text-container">
            <nuxt-content v-bind:document="documents.page"></nuxt-content>
        </div>
        <div class="link-button-container">
          <nuxt-link class="link-button" to="/orkest/cds">Terug naar alle CDs</nuxt-link>
        </div>
    </div>
</template>


<script>
    export default {
        async asyncData({ $content }) {
            const [page] = await Promise.all([
                $content('cds/cd-jubileum-januari-2019-toelichting').fetch()
            ]);

            return {
                documents: {
                    page
                }
            }
        },
    }
</script>