<template>
  <div class="main">
    <div class="concert-page">
      <h1 class="concert-title">Koffieconcert 14 november 2021</h1>
      <div class="concert-description">
        <p>
          Op 14 november hebben wij weer een concert kunnen geven.
          Na maanden van lockdowns en aangepaste repetities staan wij weer te popelen om een concert te geven.
          Tevens is dit het eerste concert o.l.v. onze nieuwe dirigent, Leo van Lierop.
        </p>
      </div>
      <div class="concert-recording">
        <div class="video-container concert-video">
          <div class="video-placeholder koffieconcert">
            <iframe class="video-frame" src="https://www.youtube.com/embed/5tgNd7t7nsw"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
        </div>
        <div class="recording-text">
          <h3>Werziade III</h3>
          <h4>Fritz Dobler</h4>

          <p>
            Dit is een origineel werk voor accordeonorkest, van de Duitse componist Fritz Dobler.
            Dobler heeft vier Werziades gecomponeerd, waarvan de derde een minder bekende is.
          </p>
        </div>
      </div>
      <div class="concert-recording">
        <div class="video-container concert-video">
          <div class="video-placeholder koffieconcert">
            <iframe class="video-frame" src="https://www.youtube.com/embed/sDcAlGvp_0A"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
        </div>
        <div class="recording-text">
          <h3>ARTango</h3>
          <h4>Thomas Ott</h4>

          <p>
            Dit originele werk voor accordeonorkest heeft Thomas Ott gecomponeerd voor zijn eigen tango ensemble, genaamd ARTango.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
