<template>
  <div class="main">
    <div class="media-page">
      <h3>Klik op de foto's voor een grotere slideshow</h3>
      <div class="media-block">
        <h2 class="media-block-title">Uitwisseling London Accordion Orchestra</h2>
        <image-showcase-with-selection>
          <template v-slot:preview>
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/01._HAO_en_LAO.jpeg" alt="HAO en LAO">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/02._HAO_en_LAO.jpeg" alt="Tabernacle">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/05._HAO_en_LAO.jpeg" alt="HAO">
            </div>            
          </template>
          <template v-slot:all>
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/01._HAO_en_LAO.jpeg" alt="HAO en LAO">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/02._HAO_en_LAO.jpeg" alt="Tabernacle">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/03._HAO_en_LAO.jpeg" alt="Bus met accordeons">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/04._HAO_en_LAO.JPG" alt="Inpakken">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/05._HAO_en_LAO.jpeg" alt="HAO">
            </div>            
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/06._HAO_en_LAO.jpeg" alt="HAO">            
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/08._HAO_en_LAO.jpeg" alt="Borrel">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2024-uitwisseling Londen/09._HAO_en_LAO.jpeg" alt="Eten">
            </div>
          </template>
        </image-showcase-with-selection>
      </div>
      <div class="media-block media-block--background">
        <h2 class="media-block-title">Uitwisseling NSAO oktober 2022</h2>
        <image-showcase-with-selection>
          <template v-slot:preview>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_194659.jpg" alt="Alle spelers">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_202950.jpg" alt="HAO">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_213619.jpg" alt="NSAO">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_221453.jpg" alt="Beide orkesten">
            </div>
          </template>
          <template v-slot:all>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_194659.jpg" alt="Alle spelers">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_202312.jpg" alt="HAO">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_202950.jpg" alt="HAO">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_213554.jpg" alt="NSAO">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_213619.jpg" alt="NSAO">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_220129.jpg" alt="NSAO">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_220740.jpg" alt="Beide orkesten">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_221453.jpg" alt="Beide orkesten">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-uitwisseling-nsao/20221008_222236.jpg" alt="Beide orkesten">
            </div>
          </template>
        </image-showcase-with-selection>
      </div>
      <div class="media-block">
        <h2 class="media-block-title">Jaarconcert juni 2022</h2>
        <image-showcase-with-selection>
          <template v-slot:preview>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (23)-small.jpg" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (9)-small.jpg" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (21)-small.jpg" alt="Duo Issa en Kaat">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (26)-small.jpg" alt="Groepsfoto">
            </div>
          </template>
          <template v-slot:all>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (7).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (6).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (8).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (9).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (10).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (11).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (12).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (13).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (14).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (15).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (16).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (17).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (18).JPG" alt="Duo Issa en Kaat">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (19).JPG" alt="Duo Issa en Kaat">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (20).JPG" alt="Duo Issa en Kaat">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (21).JPG" alt="Duo Issa en Kaat">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (22).JPG" alt="Duo Issa en Kaat">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (23).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (24).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (25).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (26).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (27).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (28).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (29).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (30).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (31).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (32).JPG" alt="Jaarconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (1).JPG" alt="Groepsfoto">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (4).JPG" alt="Groepsfoto">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (5).JPG" alt="Groepsfoto">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (3).JPG" alt="Groepsfoto">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2022-jaarconcert/HAO-220611-remonstrantse-kerk (2).JPG" alt="Groepsfoto">
            </div>
          </template>
        </image-showcase-with-selection>
      </div>
      <div class="media-block media-block--background">
        <h2 class="media-block-title">Afscheidsconcert Evert van Amsterdam 2020</h2>
        <image-showcase-with-selection>
          <template v-slot:preview>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC08872-small.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC08931-small.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC08969-small.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/EvertVanAmsterdamAfscheidsconcert-27-small.jpg"
                   alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/EvertVanAmsterdamAfscheidsconcert-40-small.jpg"
                   alt="Evert's afscheid">
            </div>
          </template>
          <template v-slot:all>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC08855.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC08872.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC08876.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC08907.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC09276.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC08916.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC08931.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/DSC08969.JPG" alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/EvertVanAmsterdamAfscheidsconcert-27.jpg"
                   alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/EvertVanAmsterdamAfscheidsconcert-40.jpg"
                   alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/EvertVanAmsterdamAfscheidsconcert-100.jpg"
                   alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/EvertVanAmsterdamAfscheidsconcert-102.jpg"
                   alt="Evert's afscheid">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2020-afscheid-evert/EvertVanAmsterdamAfscheidsconcert-112.jpg"
                   alt="Evert's afscheid">
            </div>
          </template>
        </image-showcase-with-selection>
      </div>
      <div class="media-block">
        <h2 class="media-block-title">St Bavo kerk 2019</h2>
        <image-showcase-with-selection>
          <template v-slot:preview>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1377-small.JPG" alt="St Bavo Kerk Haarlem">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1415a-small.jpg" alt="St Bavo Kerk Haarlem">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1452a-small.jpg" alt="St Bavo Kerk Haarlem">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1399a-small.jpg" alt="St Bavo Kerk Haarlem">
            </div>
          </template>
          <template v-slot:all>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1377.JPG" alt="St Bavo Kerk Haarlem">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1468a.jpg" alt="St Bavo Kerk Haarlem">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1415a.jpg" alt="St Bavo Kerk Haarlem">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1405a.jpg" alt="St Bavo Kerk Haarlem">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1452a.jpg" alt="St Bavo Kerk Haarlem">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1399a.jpg" alt="St Bavo Kerk Haarlem">
            </div>
          </template>
        </image-showcase-with-selection>
      </div>
      <div class="media-block media-block--background">
        <h2 class="media-block-title">Innsbruck 2019</h2>
        <image-showcase-with-selection>
          <template v-slot:preview>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0739-small.JPG" alt="Innsbruck">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0753-small.JPG" alt="Innsbruck">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC06875-small.JPG" alt="Innsbruck">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0862-small.JPG" alt="Innsbruck">
            </div>
          </template>
          <template v-slot:all>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0737.JPG" alt="Hotel Repetitie">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0739.JPG" alt="Hotel Repetitie">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0792.JPG" alt="Octet Repetitie">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0798.JPG" alt="In afwachting">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC06873.JPG" alt="Opbouwen">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0824.JPG" alt="Klaar om te beginnen">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0836.JPG" alt="Concert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC06875.JPG" alt="Concert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC06882.JPG" alt="Concert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0848.JPG" alt="Groepsfoto">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC_0862.JPG" alt="Groepsfoto">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-innsbruck/DSC06886.JPG" alt="Festival vlag">
            </div>
          </template>
        </image-showcase-with-selection>
      </div>
      <div class="media-block">
        <h2 class="media-block-title">Jubileumconcert november 2019</h2>
        <image-showcase-with-selection>
          <template v-slot:preview>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/Concert_nov_2019-small.JPG" alt="">
              <div class="image-title">Jubileumconcert</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1758-small.JPG" alt="">
              <div class="image-title">Jubileumconcert duo Maaike & Leo</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1795-small.JPG" alt="">
              <div class="image-title">Jubileumconcert solo Leo</div>
            </div>
          </template>
          <template v-slot:all>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/Concert_nov_2019.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1739.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1742.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1751.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1758.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1786.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1787.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1792.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1793.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1795.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1801.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1817.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1829.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1834.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1848.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1857.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1859.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1891.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1905.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1906.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1921.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1922.JPG" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-november/IMG_1923.JPG" alt="Jubileumconcert">
            </div>
          </template>
        </image-showcase-with-selection>
      </div>
      <div class="media-block media-block--background">
        <h2 class="media-block-title">Jubileumconcert januari 2019</h2>
        <image-showcase-with-selection>
          <template v-slot:preview>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/Jaarconcert_b-3-small.jpg" alt="">
              <div class="image-title">Jubileumconcert</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/Jaarconcert_b-9-small.jpg" alt="">
              <div class="image-title">Jubileumconcert solo Jeanine</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/Jaarconcert_b-17-small.jpg" alt="">
              <div class="image-title">Jubileumconcert solo Vincent</div>
            </div>
          </template>
          <template v-slot:all>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7239.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7241.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7245.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7246.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7248.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7267.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7278.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7282.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7289.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7295.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7300.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7304.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7314.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7317.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7327.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7333.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7335.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7353.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7361.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7365.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7366.jpg" alt="Jubileumconcert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2019-jubileum-januari/_MG_7385.jpg" alt="Jubileumconcert">
            </div>
          </template>
        </image-showcase-with-selection>
      </div>
      <div class="media-block">
        <h2 class="media-block-title">Novam Concours 2008</h2>
        <p>Het orkest behaald 29.5 punten in de eredivisie op 14 december 2008.</p>
        <image-showcase-with-selection>
          <template v-slot:preview>
            <div class="image-item">
              <img src="/images/fotoboeken/2008-novam-concours/novam-concours-1.jpeg" alt="Innsbruck">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2008-novam-concours/novam-concours-2.jpeg" alt="Innsbruck">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2008-novam-concours/novam-concours-4.jpeg" alt="Innsbruck">
            </div>
          </template>
          <template v-slot:all>
            <div class="image-item">
              <img src="/images/fotoboeken/2008-novam-concours/novam-concours-1.jpeg" alt="Innsbruck">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2008-novam-concours/novam-concours-2.jpeg" alt="Innsbruck">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2008-novam-concours/novam-concours-3.jpeg" alt="Innsbruck">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2008-novam-concours/novam-concours-4.jpeg" alt="Innsbruck">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2008-novam-concours/novam-concours-5.jpeg" alt="Innsbruck">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/2008-novam-concours/novam-concours-6.jpeg" alt="Innsbruck">
            </div>
          </template>
        </image-showcase-with-selection>
      </div>
      <div class="media-block media-block--background">
        <h2 class="media-block-title">Uit de oude doos</h2>
        <image-showcase-with-selection>
          <template v-slot:preview>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/1960-08-zurich.jpeg" alt="">
              <div class="image-title">Het orkest in Zurich (1960)</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/1960-11-bondsconcours.jpeg" alt="">
              <div class="image-title">Het bondsconcours 1960</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/concert-3-haarlemmerhout.jpeg" alt="">
              <div class="image-title">Concert in de Haarlemmerhout</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/orkest-1.jpeg" alt="Het orkest">
              <div class="image-title">Concours 2005</div>
            </div>
          </template>
          <template v-slot:all>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/1960-08-zurich.jpeg" alt="">
              <div class="image-title">Het orkest in Zurich (1960)</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/1960-11-bondsconcours.jpeg" alt="">
              <div class="image-title">Het bondsconcours 1960</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/concert-1.jpeg" alt="Concert">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/concert-2-spaarndam.jpeg" alt="">
              <div class="image-title">Concert in Spaarndam</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/concert-3-haarlemmerhout.jpeg" alt="">
              <div class="image-title">Concert in de Haarlemmerhout</div>
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/orkest-1.jpeg" alt="Het orkest">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/orkest-2.jpeg" alt="Het orkest">
            </div>
            <div class="image-item">
              <img src="/images/fotoboeken/oud/orkest-3.jpeg" alt="Het orkest">
            </div>
          </template>
        </image-showcase-with-selection>
      </div>
    </div>
  </div>
</template>

<script>
import imageshowcase from '~/components/image-showcase-all';
import imageshowcase2 from '~/components/image-showcase-selection-show';
import imageshowcase3 from '~/components/image-showcase-no-slides';

export default {
  components: {
    'image-showcase-all-slides': imageshowcase,
    'image-showcase-with-selection': imageshowcase2,
    'image-showcase-no-slides': imageshowcase3
  },
}
</script>