<template>
  <div class="main">
    <div class="media-page">
      <h3>Foto impressies</h3>
      <nuxt-link class="back-link" to="/media/fotoboeken">Klik hier voor meer foto's</nuxt-link>
      <div class="media-block  media-block--background">
        <div class="image-overview">
          <div class="image-item">
            <img src="/images/fotoboeken/2019-bavo-monumentendag/IMG_1452a-small.jpg" alt="St Bavo Kerk Haarlem">
            <div class="image-title">St Bavo Kerk Haarlem 2019</div>
          </div>
          <div class="image-item">
            <img src="/images/fotoboeken/2019-innsbruck/DSC_0739-small.JPG" alt="Repetitie">
            <div class="image-title">Innsbruck 2019</div>
          </div>
          <div class="image-item">
            <img src="/images/fotoboeken/2019-innsbruck/DSC_0753-small.JPG" alt="Groepsfoto berg">
            <div class="image-title">Orkestreis Innsbruck 2019</div>
          </div>
          <div class="image-item">
            <img src="/images/fotoboeken/2019-jubileum-januari/Jaarconcert_b-3-small.jpg" alt="Jubileumconcert">
            <div class="image-title">Jubileumconcert 2019</div>
          </div>
          <div class="image-item">
            <img src="/images/fotoboeken/2019-jubileum-januari/Jaarconcert_b-17-small.jpg" alt="Jubileumconcert">
            <div class="image-title">Jubileumconcert 2019</div>
          </div>
        </div>
      </div>
      <div class="media-block">
        <h2 class="media-block-title">Koffieconcert 2021</h2>
        <div class="link-button-container">
          <nuxt-link class="link-button" to="/media/concert-14-nov-21">Klik hier voor het hele concert</nuxt-link>
        </div>
        <div class="video-showcase video-showcase--multiple">
          <div class="video-container">
            <div class="video-placeholder koffieconcert">
              <iframe class="video-frame" src="https://www.youtube.com/embed/5tgNd7t7nsw"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
            <div class="video-title-container">
              <h3 class="video-title">Werziade III</h3>
              <h3 class="video-title video-subtitle">Fritz Dobler</h3>
            </div>
          </div>
          <div class="video-container">
            <div class="video-placeholder koffieconcert">
              <iframe class="video-frame" src="https://www.youtube.com/embed/sDcAlGvp_0A"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
            <div class="video-title-container">
              <h3 class="video-title">ARTango</h3>
              <h3 class="video-title video-subtitle">Thomas Ott</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="media-block media-block--background">
        <div class="video-showcase video-showcase--multiple">
          <div class="video-container">
            <h2 class="media-block-title">World Music Festival 2019</h2>
            <div class="video-placeholder innsbruck">
              <iframe class="video-frame" src="https://www.youtube.com/embed/cbBuZKJewSA"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
            <div class="video-title-container">
              <h3 class="video-title">Symphonie Nr. 9</h3>
              <h3 class="video-title video-subtitle">Antonin Dvorak</h3>
            </div>
          </div>
          <div class="video-container">
            <h2 class="media-block-title">Orkestenfestival Novam 2017</h2>
            <div class="video-placeholder festival">
              <iframe class="video-frame" src="https://www.youtube.com/embed/G3ASSkC-haM"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
            <div class="video-title-container">
              <h3 class="video-title">Lambada Concertante</h3>
              <h3 class="video-title video-subtitle">Jonas Tamulionis</h3>
            </div>
          </div>
          <div class="video-container">
            <h2 class="media-block-title">World Music Festival 2019</h2>
            <div class="video-placeholder innsbruck">
              <iframe class="video-frame" src="https://www.youtube.com/embed/_fY1Q8bR_ZU"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>
            <div class="video-title-container">
              <h3 class="video-title">Scherzino</h3>
              <h3 class="video-title video-subtitle">Antonin Devaty</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
