<template>
    <div class="main">
        <div class="media-page">
          <div class="media-block media-block--background">
            <h2 class="media-block-title">Jaarconcert met Veloce 2024 in Haarlem</h2>
            <div class="video-showcase video-showcase--multiple">
              <div class="video-container">
                <div class="video-placeholder jaarconcert">
                  <iframe class="video-frame" src="https://www.youtube.com/embed/frTRCDpn3TQ?si=_cNQ_aTW7FVsiksv"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>
                <div class="video-title-container">
                  <h3 class="video-title">Clowns</h3>
                  <h3 class="video-title video-subtitle">Ian Watson</h3>
                </div>
              </div>
              <div class="video-container">
                <div class="video-placeholder jaarconcert">
                  <iframe class="video-frame" src="https://www.youtube.com/embed/WNoNSFvzfAY?si=PHvApZTD7GdaE8vl"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>
                <div class="video-title-container">
                  <h3 class="video-title">Fantasia iberica</h3>
                  <h3 class="video-title video-subtitle">Gerhard Mohr</h3>
                </div>
              </div>
            </div>
          </div>        
          <div class="media-block media-block">
            <h2 class="media-block-title">Uitwisseling NSAO 2023 in Hilversum</h2>
            <div class="video-showcase video-showcase--multiple">
              <div class="video-container">
              <!-- Opname: Maginificent (4:18 -- 10:04) Cubano (11:32 -- 17:20) Sinfonische Suite (19:51 -- 39:08) Matteo (44:17 -- 51:33) -->
                <div class="video-placeholder jaarconcert">
                  <iframe class="video-frame" src="https://www.youtube.com/embed/h62b3Dq8_qg"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>
                <div class="video-title-container">
                  <h3 class="video-title">Cubano</h3>
                  <h3 class="video-title video-subtitle">Wolfgang Russ-Plötz</h3>
                </div>
              </div>
              <div class="video-container">
                <div class="video-placeholder jaarconcert">
                  <iframe class="video-frame" src="https://www.youtube.com/embed/0QgyW8np6xo"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>
                <div class="video-title-container">
                  <h3 class="video-title">Matteo Variaties</h3>
                  <h3 class="video-title video-subtitle">Tim Fletcher</h3>
                </div>
              </div>
            </div>
          </div>        
          <div class="media-block media-block--background">
            <h2 class="media-block-title">Uitwisseling NSAO 2022 in Haarlem</h2>
            <div class="video-showcase video-showcase--multiple">
              <div class="video-container">
                <div class="video-placeholder jaarconcert">
                  <iframe class="video-frame" src="https://www.youtube.com/embed/K5LpyJlYWs0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>
                <div class="video-title-container">
                  <h3 class="video-title">Passacaglia en Fuge</h3>
                  <h3 class="video-title video-subtitle">J.S. Bach</h3>
                </div>
              </div>
              <div class="video-container">
                <div class="video-placeholder jaarconcert">
                  <iframe class="video-frame" src="https://www.youtube.com/embed/me6OHvu9ppw"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>
                <div class="video-title-container">
                  <h3 class="video-title">Fünf Skizzen</h3>
                  <h3 class="video-title video-subtitle">Juergen Ganzer</h3>
                </div>
              </div>
              <div class="video-container">
                <div class="video-placeholder jaarconcert">
                    <iframe class="video-frame" src="https://www.youtube.com/embed/Bnq8cSWet00"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>
                <div class="video-title-container">
                  <h3 class="video-title">Baile de Fantasia</h3>
                  <h3 class="video-title video-subtitle">Carl Wittrock</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="media-block">
            <h2 class="media-block-title">Jaarconcert 2022</h2>
            <div class="video-showcase video-showcase--multiple">
              <div class="video-container">
                <div class="video-placeholder jaarconcert">
                  <iframe class="video-frame" src="https://www.youtube.com/embed/vvg-g-d-QmE"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>
                <div class="video-title-container">
                  <h3 class="video-title">Rhapsody</h3>
                  <h3 class="video-title video-subtitle">Stuart Hancock</h3>
                </div>
              </div>
              <div class="video-container">
                <div class="video-placeholder jaarconcert">
                  <iframe class="video-frame" src="https://www.youtube.com/embed/Eamg4eBqjvM"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                </div>
                <div class="video-title-container">
                  <h3 class="video-title">Matteo Variaties</h3>
                  <h3 class="video-title video-subtitle">Tim Fletcher</h3>
                </div>
              </div>
            </div>
          </div>

            <div class="media-block media-block--background">
              <h2 class="media-block-title">Koffieconcert 2021</h2>
              <div class="link-button-container">
                <nuxt-link class="link-button" to="/media/concert-14-nov-21">Klik hier voor het hele concert</nuxt-link>
              </div>
              <div class="video-showcase video-showcase--multiple">
                <div class="video-container">
                  <div class="video-placeholder koffieconcert">
                    <iframe class="video-frame" src="https://www.youtube.com/embed/5tgNd7t7nsw"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                  </div>
                  <div class="video-title-container">
                    <h3 class="video-title">Werziade III</h3>
                    <h3 class="video-title video-subtitle">Fritz Dobler</h3>
                  </div>
                </div>
                <div class="video-container">
                  <div class="video-placeholder koffieconcert">
                    <iframe class="video-frame" src="https://www.youtube.com/embed/sDcAlGvp_0A"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                  </div>
                  <div class="video-title-container">
                    <h3 class="video-title">ARTango</h3>
                    <h3 class="video-title video-subtitle">Thomas Ott</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="media-block">
                <h2 class="media-block-title">Innsbruck 2019</h2>
                <div class="video-showcase video-showcase--multiple">
                    <div class="video-container">
                        <div class="video-placeholder innsbruck">
                            <iframe class="video-frame" src="https://www.youtube.com/embed/cbBuZKJewSA"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="video-title-container">
                            <h3 class="video-title">Symphonie Nr. 9</h3>
                            <h3 class="video-title video-subtitle">Antonin Dvorak</h3>
                        </div>
                    </div>
                    <div class="video-container">
                        <div class="video-placeholder innsbruck">
                            <iframe class="video-frame" src="https://www.youtube.com/embed/_fY1Q8bR_ZU"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="video-title-container">
                            <h3 class="video-title">Scherzino</h3>
                            <h3 class="video-title video-subtitle">Anonin Devaty</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="media-block media-block--background">
                <h2 class="media-block-title">After movie Haarlem Cultuur Festival 2017</h2>
                <div class="video-showcase">
                    <div class="video-container koffieconcert">
                        <div class="video-placeholder">
                            <iframe class="video-frame" src="https://www.youtube.com/embed/k8P5Xj8W4RY"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="media-block">
                <h2 class="media-block-title">Orkestenfestival Novam 2017</h2>
                <div class="video-showcase">
                    <div class="video-container festival">
                        <div class="video-placeholder">
                          <iframe class="video-frame" src="https://www.youtube.com/embed/G3ASSkC-haM"
                                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen></iframe>
                        </div>
                        <div class="video-title-container">
                            <h3 class="video-title">Lambada Concertante</h3>
                            <h3 class="video-title video-subtitle">Jonas Tamulionis</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media-block">
                <h2 class="media-block-title">Concert 17 november 2013 Heemsteede</h2>
                <div class="video-showcase video-showcase--multiple">
                    <div class="video-container">
                        <div class="video-placeholder koffieconcert">
                          <iframe class="video-frame" src="https://www.youtube.com/embed/8PGFd9Et1ts"
                                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen></iframe>
                        </div>
                        <div class="video-title-container">
                            <h3 class="video-title">Transylvania</h3>
                            <h3 class="video-title video-subtitle">Helmut Quackernack</h3>
                        </div>
                    </div>
                    <div class="video-container">
                        <div class="video-placeholder koffieconcert">
                          <iframe class="video-frame" src="https://www.youtube.com/embed/O7P39Oh5Uas"
                                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen></iframe>
                        </div>
                        <div class="video-title-container">
                            <h3 class="video-title">Tango Fugitativo</h3>
                            <h3 class="video-title video-subtitle">Gerie Daanen</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="media-block media-block--background">
                <h2 class="media-block-title">CD-presentatie Philharmonie 2012</h2>
                <div class="video-showcase">
                    <div class="video-container">
                        <div class="video-placeholder innsbruck">
                          <iframe class="video-frame" src="https://www.youtube.com/embed/Z6QRPO12240"
                                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen></iframe>
                        </div>
                        <div class="video-title-container">
                            <h3 class="video-title">Boardwalk - Merry Go Round</h3>
                            <h3 class="video-title video-subtitle">Ad Wammes</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="media-block">
                <h2 class="media-block-title">REL-festival 2011</h2>
                <div class="video-showcase">
                    <div class="video-container koffieconcert">
                        <div class="video-placeholder">
                          <iframe class="video-frame" src="https://www.youtube.com/embed/QpvCHMR8jOw"
                                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
