<template>
    <div class="footer">
        <a href="https://www.facebook.com/haarlemsaccordeonorkest" target="_blank">
            <img src="/icons/facebook.svg" class="icon-facebook" alt="facebook"/>
        </a>
        <a href="mailto:haarlemsaccordeonorkest@gmail.com" target="_blank">haarlemsaccordeonorkest@gmail.com</a>
        <a href="https://www.youtube.com/channel/UCKhZ1jGG4dET34ye6nTsokg" target="_blank">
            <img src="/icons/youtube.svg" class="icon-youtube" alt="youtube"/>
        </a>
        <a href="https://open.spotify.com/artist/6Hmke1YvF0tPtlJ33llRtM?si=-Ayp5u7RSRuuZnr8pilP7w&nd=1" target="_blank">
            <img src="/icons/spotify.png" class="icon-spotify" alt="spotify"/>
        </a>
    </div>
</template>