<template>
    <div class="image-show-container">
        <div class="image-scroller image-showcase" ref="main" @click="slideShow">
            <slot name="preview"></slot>
        </div>
        <div class="image-slideshow-contents" ref="slides">
            <slot name="all"/>
        </div>
        <div class="image-slideshow-overlay" ref="overlay">
            <button class="image-show-control image-show-control--close" @click="close">&#10006;</button>
            <button class="image-show-control image-show-control--prev" @click="prev">&lsaquo;</button>
            <button class="image-show-control image-show-control--next" @click="next">&rsaquo;</button>
            <img v-bind:src="imageLink" class="image-show" ref="image" alt="slideshow">
        </div>
    </div>

</template>

<script>

    export default {
        data() {
            return {
                index: 0,
                imageLink: "",
            };
        },

        methods: {
            // handle escape from slideshow
            handleKeyDown(e) {
                if (e.code === 'Escape') {
                    this.close();
                } else if (e.code === 'ArrowRight') {
                    this.next();
                } else if (e.code === 'ArrowLeft') {
                    this.prev();
                }
            },

            slideShow() {
                if (!this.$refs.main) return;
                this.$refs.overlay.style.display = "flex";
                const arr = Array.from(this.$refs.slides.children);
                this.imageLink = arr[this.index].children[0].src;
                //will attach the event listener to the whole window when the component is created
                window.addEventListener('keydown', this.handleKeyDown);
            },

            next() {
                if (!this.$refs.main) return;
                this.index = this.index + 1;
                if (this.index >= this.$refs.slides.children.length) this.index = 0;
                const arr = Array.from(this.$refs.slides.children);
                this.imageLink = arr[this.index].children[0].src;
            },

            prev() {
                if (!this.$refs.main) return;
                this.index = this.index - 1;
                if (this.index < 0) this.index = this.$refs.slides.children.length - 1;
                const arr = Array.from(this.$refs.slides.children);
                this.imageLink = arr[this.index].children[0].src;
            },

            close() {
                this.$refs.overlay.style.display = "none";
                this.index = 0;
                //will detach the event listener once the component is destroyed
                window.removeEventListener('keydown', this.handleKeyDown);
            }
        },
    };
</script>
