<template>
    <div class="image-show-container">
        <div class="image-scroller image-showcase image-showcase--no-slides" ref="main">
            <slot />
        </div>
    </div>

</template>

