<template>
    <div class="image-show-container">
        <div class="image-scroller image-showcase" ref="main" @click="slideShow">
            <slot />
        </div>
        <div class="image-slideshow-overlay" ref="overlay">
            <button class="image-show-control image-show-control--close" @click="close">&#10006;</button>
            <button class="image-show-control image-show-control--prev" @click="prev">&lsaquo;</button>
            <button class="image-show-control image-show-control--next" @click="next">&rsaquo;</button>
            <img v-bind:src="imageLink" class="image-show" ref="image" alt="slideshow">
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                index: 0,
                imageLink: "",
            };
        },

        methods: {
            slideShow() {
                if (!this.$refs.main) return;
                this.$refs.overlay.style.display = "flex";
                const arr = Array.from(this.$refs.main.children);
                this.imageLink = arr[this.index].children[0].src;
            },

            next() {
                if (!this.$refs.main) return;
                this.index = this.index + 1;
                if (this.index >= this.$refs.main.children.length) this.index = 0;
                const arr = Array.from(this.$refs.main.children);
                this.imageLink = arr[this.index].children[0].src;
            },

            prev() {
                if (!this.$refs.main) return;
                this.index = this.index - 1;
                if (this.index < 0) this.index = this.$refs.main.children.length - 1;
                const arr = Array.from(this.$refs.main.children);
                this.imageLink = arr[this.index].children[0].src;
            },

            close() {
                this.$refs.overlay.style.display = "none";
                this.index = 0;
            }
        }
    };
</script>
