<template>
    <div class="image-show-container">
        <div class="image-scroller" ref="main" @click="slideShow">
            <slot />
            <slot />
            <slot />
        </div>
        <div class="image-slideshow-overlay" ref="overlay">
            <button class="image-show-control image-show-control--close" @click="close">&#10006;</button>
            <button class="image-show-control image-show-control--prev" @click="prev">&lsaquo;</button>
            <button class="image-show-control image-show-control--next" @click="next">&rsaquo;</button>
            <img v-bind:src="imageLink" class="image-show" ref="image" alt="slideshow">
        </div>
    </div>

</template>

<script>
    const IMAGE_WIDTH = 300;
    const IMAGE_MARGIN = 12;

    const FULL_WIDTH = IMAGE_WIDTH + IMAGE_MARGIN * 2;

    export default {
        data() {
            return {
                offset: 0,
                index: 0,
                imageLink: "",
            };
        },

        mounted() {
            this.scroll();
        },

        methods: {
            scroll() {
                if (!this.$refs.main) return;
                const arr = Array.from(this.$refs.main.children);
                this.offset = (this.offset + 0.5) % (arr.length / 3 * FULL_WIDTH);
                arr.forEach((x, i) => {
                    const translation = -this.offset;
                    x.style.transform = `translateX(${translation}px)`
                });
                window.requestAnimationFrame(() => this.scroll());
            },

            slideShow() {
                if (!this.$refs.main) return;
                this.$refs.overlay.style.display = "flex";
                const arr = Array.from(this.$refs.main.children);
                this.imageLink = arr[this.index].children[0].src;
            },

            next() {
                if (!this.$refs.main) return;
                this.index = this.index + 1;
                if (this.index > this.$refs.main.children.length / 3) this.index = 0;
                const arr = Array.from(this.$refs.main.children);
                this.imageLink = arr[this.index].children[0].src;
            },

            prev() {
                if (!this.$refs.main) return;
                this.index = this.index - 1;
                if (this.index < 0) this.index = this.$refs.main.children.length / 3 - 1;
                const arr = Array.from(this.$refs.main.children);
                this.imageLink = arr[this.index].children[0].src;
            },

            close() {
                this.$refs.overlay.style.display = "none";
                this.index = 0;
            }
        }
    };
</script>
