<template>
    <div class="navigation-container">
        <div id="navigation-regulator" v-bind:class="{open: showMenu}">
            <div class="navigation-bar">
                <div class="nav-logo-container">
                    <div class="nav-menu-button" id="show-menu" @click="showMenu = !showMenu">
                        <i class="material-icons">menu</i>
                    </div>
                    <nuxt-link to="/" @click.native="hideNav">
                        <img class="nav-logo" src="~/static/drukwerk/Logo-HAO-wit.svg" alt="Haarlems Accordeon Orkest"/>
                    </nuxt-link>
                </div>
                <div class="nav-items">
                    <div class="nav-item">
                        <nuxt-link to="/" class="nav-item-content" @click.native="hideNav">
                            Home
                        </nuxt-link>
                        <div class="nav-sub-menu">
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/nieuws" class="nav-item-content" @click.native="hideNav">
                                    Nieuws
                                </nuxt-link>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item">
                        <nuxt-link to="/agenda" class="nav-item-content" @click.native="hideNav">
                            Agenda
                        </nuxt-link>
                        <div class="nav-sub-menu">
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/alleconcerten" class="nav-item-content" @click.native="hideNav">
                                    Gegeven concerten
                                </nuxt-link>
                            </div>
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/concertverslagen" class="nav-item-content" @click.native="hideNav">
                                    Concertverslagen
                                </nuxt-link>
                            </div>
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/kaartjes" class="nav-item-content" @click.native="hideNav">
                                    Kaartjes kopen
                                </nuxt-link>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item">
                        <nuxt-link to="/orkest" class="nav-item-content" @click.native="hideNav">
                            Het Orkest
                        </nuxt-link>
                        <div class="nav-sub-menu">
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/orkest/leden" class="nav-item-content" @click.native="hideNav">
                                    De Leden
                                </nuxt-link>
                            </div>
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/orkest/dirigent" class="nav-item-content" @click.native="hideNav">
                                    De Dirigent
                                </nuxt-link>
                            </div>
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/orkest/repertoire" class="nav-item-content" @click.native="hideNav">
                                    Het repertoire
                                </nuxt-link>
                            </div>
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/orkest/cds" class="nav-item-content" @click.native="hideNav">
                                    CD's
                                </nuxt-link>
                            </div>
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/orkest/lessen" class="nav-item-content" @click.native="hideNav">
                                    Accordeonlessen
                                </nuxt-link>
                            </div>
                        </div>
                    </div>

                    <div class="nav-item">
                        <nuxt-link to="/media" class="nav-item-content" @click.native="hideNav">
                            Media
                        </nuxt-link>
                        <div class="nav-sub-menu">
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/media/fotoboeken" class="nav-item-content" @click.native="hideNav">
                                    Fotoboeken
                                </nuxt-link>
                            </div>
                            <div class="nav-item nav-sub-item">
                                <nuxt-link to="/media/videos" class="nav-item-content" @click.native="hideNav">
                                    Videos
                                </nuxt-link>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item nav-button">
                        <nuxt-link to="/contact" class="nav-item-content" @click.native="hideNav">
                            Contact
                        </nuxt-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showMenu: false
            }
        },

        methods: {
            hideNav() {
                this.showMenu = false;
            },
        },
    }
</script>