<template>
    <div class="home-container-block" :class="{
        'home-container-block--background-primary': primary,
        'home-container-block--background-secondary': secondary}">
        <span>
            <div class="split left" :class="{'home-block-text-content': primary, 'home-block-image-content': secondary}">
                <slot name="first"/>
            </div>
            <div class="split right" :class="{'home-block-text-content': secondary, 'home-block-image-content': primary}">
                <slot name="second"/>
            </div>
        </span>
    </div>
</template>


<script>
    export default {
        props: {
            primary: {
                type: Boolean,
                default: false,
            },
            secondary: {
                type: Boolean,
                default: false,
            },
        }
    }
</script>