@import 'variables';

/** Agenda items for upcoming concerts **/
.agenda-item {
	position: relative;
	margin-bottom: 20px;
	width: 100%;

	@media only screen and (min-width: $small-width) {
		display: flex;

		.agenda-item-image-container {
			width: 30%;
			margin-right: 10px;
		}
	}

	.agenda-item-image {
		max-height: 300px;
		width: 100%;
		border-radius: 8px 8px 0 0;
		object-fit: cover;
	}


	transition: all 800ms;

	&:hover {
		transform: scale(1.05);
		transition: all 800ms;
		-webkit-transform: scale(1.05);
		-webkit-transition: all 800ms;
		box-shadow: 0 4rem 8rem rgba($grey-color2, .7);
	}

	&:focus {
		outline: none;
	}
}

/**Agenda items for the earlier concerts**/
.agenda-item--old {
	margin: 0;
	height: 200px;
	position: relative;

	transition: all 300ms;

	&:hover {
		transform: scale(1.05);
		transition: all 300ms;
		-webkit-transform: scale(1.05);
		-webkit-transition: all 300ms;
		box-shadow: 0 1rem 2rem rgba($grey-color2, .7);
	}

	.agenda-item-image {
		height: 200px;
		width: 100%;
		border-radius: 8px 8px 0 0;
		object-fit: cover;
		pointer-events: none;
	}

	.agenda-item-information {
		z-index: 2;
		color: white;
		background-color: rgba(black, 0.3);
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 5px 5px 5px;
		width: calc(100% - 10px);
		height: auto;
		pointer-events: none;

		.agenda-item-title {
			font-size: 20px;
		}
	}
}

/** Styling the grid with old concerts on agenda page**/
.oude-concerten {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	grid-template-rows: 200px;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	margin: 10px 0;

	@media only screen and(max-width: $small-width) {
		grid-template-columns: 100%;
	}
}

.agenda-container-actueel {
	@media only screen and (min-width: $small-width) {
		padding: 0 15% 50px 15%;
	}
}


/**Styling of texts for agenda items.
General for all types of agenda forms**/
.agenda-item-information {
	.agenda-item-subtitle {
		margin: 0px;
		padding: 0px;
	}
	p {
		margin: 0;

		&.agenda-item-title {
			font-size: 24px;
		}

		&.agenda-item-location:before {
			content: "Adres: ";
			font-weight: bold;
		}

		&.agenda-item-date:before {
			content: "Wanneer: ";
			font-weight: bold;
		}

		&.agenda-item-admission:before {
			content: "Toegang: ";
			font-weight: bold;
		}
	}
}