$lid-size: 300px;

.stemmen-container {
	padding: 10px 24px;

	.partij-name {
		text-align: center;
		font-weight: bold;
		font-size: 2rem;
	}

	.partij-container {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;

		&.partij-container--background {
			background-color: rgba($primary-color, 0.3);
		}

		.lid-container {
			margin: 20px;
			position: relative;
			align-items: center;
			justify-content: center;

			.lid-image {
				height: $lid-size;
				width: $lid-size;
				object-fit: cover;
			}

			.lid-name {
				font-size: 1.2rem;
				margin-top: 0;
			}

			.lid-text-box {
				display: none;
				position: absolute;
				height: $lid-size;
				width: $lid-size;
				top: 0;
				margin: 0;
				background: rgba(white, 0.7);

				.lid-text {
					font-size: 1.1rem;
					font-weight: 600;
					position: absolute;
					top: 50%;
					transform: translate(0%, -55%);
					margin-left: 3px;
					margin-right: 3px;
				}
			}

			&:hover, &:active {
				.lid-text-box {
					display: flex;
				}
			}
		}
	}



	.leden-stem-block {
		max-width: 560px;
		height: 600px;

		@media only screen and (max-width: $small-width) {
			width: 100%;
			height: auto;

			img {
				width: 100%;
			}
		}
	}
}