@import 'variables';
@import 'nav';
@import 'media';
@import 'agenda';
@import 'leden';

html {
	height: 100%;
}

body {
	font-family: 'Bitter', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 1.5rem;

	h1 {
		line-height: 2rem;
	}
}

a {
	cursor: pointer;
}

.page-container {
	padding-top: calc(#{$nav-height} - 2 * #{$nav-padding});
	height: calc(100vh - #{$footer-height} - #{$nav-height} - 2 * #{$footer-padding});

	.main {
		min-height: 100%;
		width: 100%;

		.main-container {
			padding: 10px 24px;

			@media only screen and (max-width: $small-width) {
				padding: 0 12px;
			}
		}

		.top-container {
			width: 100%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			&.poster-container {
				background-image: url("../../static/drukwerk/double_jubileum.png");
				background-repeat: repeat-x;
				background-size: contain;
				height: $top-container-height;
				width: 100%;
			}

			.top-container-image {
				width: 100%;
				height: $top-container-height;
				object-fit: cover;

				@media only screen and (max-width: $small-width) {
					height: 150px;
				}

				&.top-container-image--no-zoom {
					height: auto;
					max-width: 1200px;
				}
			}

			.top-container-video {
				width: 100%;
				height: 50vh;
				object-fit: cover;
			}
		}

		.page-header--centered {
			h1 {
				text-align: center;
			}
		}

		.text-container {
			padding: 10px 20%;

			@media only screen and (max-width: $small-width) {
				padding: 0 12px;
			}

			.text-container-image {
				width: 100%;
				height: 400px;
				object-fit: cover;

				@media only screen and (max-width: $small-width) {
					height: 150px;
				}
			}

			&.repertoire-container {
				@media only screen and (max-width: $medium-width) {
					padding: 10px 40px;
				}

				@media only screen and (max-width: 500px) {
					padding: 10px 5px;
				}
			}
		}
	}
}


/** Tables for the repertoire and bestuur (contact)**/
.nuxt-content table {
	width: 100%;
	border-collapse: collapse;

	td, th {
		text-align: left;
	}

	td + td, th + th {
		text-align: right;
	}

	tr:nth-child(even) {
		background-color: rgba(black, 0.1);
	}
}

table {
	width: 100%;
	border-collapse: collapse;

	td, th {
		text-align: left;
	}

	td + td, th + th {
		text-align: right;
	}

	tr:nth-child(even) {
		background-color: rgba(black, 0.1);
	}

	&.repertoire-table {
		margin: 50px 0 100px 0;

		td, th {
			text-align: left;
			padding: 0 5px;
		}

		th {
			cursor: pointer;
			vertical-align: center;

			.material-icons {
				vertical-align: bottom;
			}
		}

		thead {
			background-color: rgba(black, 0.4);
		}

		@media only screen and (max-width: $small-width) {
			td:nth-child(3), th:nth-child(3), td:nth-child(5), th:nth-child(5) {
				display: none;
			}
		}
		@media only screen and (max-width: 500px) {
			td:nth-child(4), th:nth-child(4) {
				display: none;
			}
		}
	}
}


/** CD page**/
.cd-grid {
	.cd-container {
		margin: 100px 0;

		.cd-container-tracklist, .cd-container-image-container,
		.cd-container-solist, .cd-container-song-title {
			display: inline-block;
		}

		.cd-container-title {
			font-weight: bold;
			font-size: 24px;
			width: 100%;
		}

		.cd-container-image-container {
			width: 40%;
			vertical-align: top;

			.cd-container-image {
				width: 100%;
				vertical-align: top;
			}
		}

		.cd-container-intermezzo {
			font-style: italic;
		}

		.cd-container-song-title {
			font-weight: bold;
		}

		a {
			display: block;
			margin: 0 0 5px 0;
			color: blue;
		}

		li p {
			margin: 0;
		}

		@media only screen and (max-width: $small-width) {
			.cd-container-image-container {
				text-align: center;
				width: 100%;

				.cd-container-image {
					width: 70%;
				}
			}
		}
	}
}

/** home page**/
.home-container {
	.home-container-title-block {
		width: calc(100% - 100px);
		padding: 50px;
	}

	.home-container-block {
		display: flex;
		width: calc(100% - 2 * 75px); //subtract padding
		height: 400px;
		margin: 50px 0;
		padding: 0 75px;

		&.home-container-block--background-primary {
			background-color: rgba($primary-color, 0.2);
		}

		&.home-container-block--background-secondary {
			background-color: rgba($secondary-color, 0.2);
		}

		span {
			display: flex;

			.split {
				display: flex;
				width: 50%;
				height: 100%;
				font-size: 1.1rem;

				&.left {
					margin-right: 10px;
				}

				&.home-block-text-content {
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					width: 100%;
					height: 100%;

					h3, a {
						height: 24px;
						display: flex;
					}

					h3 {
						width: 100%;
					}

					h5 {
						display: block;
					}

					.home-container-button {
						background-color: $secondary-color;
						color: white;
						text-decoration: none;
						padding: 5px 20px;
					}
				}

				&.home-block-image-content {
					width: 100%;
					display: flex;

					.home-container-block-image {
						width: 100%;
						height: 400px;
						object-fit: contain;
						object-position: left;
					}
				}
			}
		}
	}

	@media only screen and (max-width: $small-width) {

		.home-container-title-block {
			padding: 10px;
			width: calc(100% - 20px);
		}

		.home-container-block {
			display: block;
			width: calc(100% - 20px);
			margin: 10px 0 50px 0;
			padding: 10px;
			height: auto;

			span {
				display: unset;

				.split {
					flex: unset;
					font-size: revert;
					width: 100%;
					margin-bottom: 10px;

					&.left {
						margin-right: 0;
						margin-bottom: 10px;
					}

					&.home-block-text-content {
						width: calc(100% - 20px);
						padding: 10px;
						display: block;

						h3, p, a, h5 {
							display: block;
							height: auto;
						}
					}

					&.home-block-image-content {
						width: 100%;
						display: flex;

						.home-container-block-image {
							width: 100%;
							height: 250px;
							object-position: center;
						}
					}
				}
			}
		}
	}
}

/* nieuws items*/
.slug-list-container {
	.slug-list-item {
		text-decoration: none;
		color: black;
		margin-bottom: 50px;

		.slug-list-item-image {
			display: inline-block;
			width: 25%;
			margin-right: 10px;
			max-height: 300px;
			object-fit: cover;
		}

		.slug-list-item-text {
			display: inline-block;
			width: 70%;
			vertical-align: top;

			h2 {
				margin: 0;
				padding: 0;
			}
		}

		&:hover {
			.slug-list-item-title {
				text-decoration: underline;
			}
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 50px;
		}
	}

}

.nuxt-content {
	.content-image {
		width: 40%;

		&.content-image--left {
			margin: 5px 10px 5px 0;
			float: left;
		}

		&.content-image--right {
			margin: 5px 0 5px 10px;
			float: right;
		}

		&.content-image--full {
			width: 70%;
			float: left;
			position: relative;
			left: 15%;
			margin: 5px 0 20px 0;
		}
	}
}


.back-link {
	width: 100%;
	display: block;
	background-color: $grey-color;
	color: black;
	text-align: center;
	text-decoration: none;

	&:hover {
		background-color: $grey-color2;
		box-shadow: 0 4rem 8rem rgba($grey-color2, .2);
	}
}

.link-button-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;

	.link-button {
		width: 30%;
		background-color: $secondary-color;
		color: $white-color;
		text-align: center;

		&:hover {
			background-color: rgba($secondary-color, .7);
			box-shadow: 0 4rem 8rem rgba($grey-color2, .2);
		}
	}
}

.krantenartikel-portraits-box {
	display: flex;
	padding: 0 30px;

	.krantenartikel {
		text-align: center;
		width: 100%;
		height: 100vh;

		img {
			max-width: 100%;
			max-height: 90%;
		}

		a {
			color: black;
		}

		&.krantenartikel-portraits {
			display: inline-block;
		}
	}
}

.kaartjes-item {
	display: flex;
	width: 100%;
	.kaartjes-description {
		width: 50%;
		padding-right: 2%;
	}
	.kaartjes-qr {
		align-items: center;
		width: 50%;
		img {
			width: 100%;
		}
	}
	.kaartjes-poster {
		width: 50%;
		img {
			width: 100%;
		}
	}
}

.image-align--top {
	object-position: top;
}

.image-align--bottom {
	object-position: bottom;
}

.image-align--middle {
	object-position: center;
}
