@import './variables';

$title-height: 24px;
$frame-height: 315px;
$tiny-frame-height: 250px;
$frame-width: 560px;
$side-padding: 20px;

$koffieconcert-placeholder: url(../../static/images/video-placeholders/koffieconcert.jpg);
$innsbruck-placeholder: url(../../static/images/video-placeholders/innsbruck2019.JPG);
$festival-placeholder: url(../../static/images/video-placeholders/orkestenfestival2017.jpg);

.media-page {
	h3, h2, h4 {
		text-align: center;
	}
	.media-block {
		padding: 50px 0;

		p {
			text-align: center;
		}

		&.media-block--background {
			background-color: rgba($primary-color, 0.3);
		}

		.media-block-title {
			text-align: center;
			margin: 0;
		}

		.image-overview {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-wrap: wrap;

			@media only screen and (min-width: $big-width) {
				&.video-showcase--multiple {
					justify-content: space-between;
				}
			}
		}

		.image-scroller {
			display: flex;
			overflow: hidden;
			cursor: pointer;

			&.image-showcase {
				align-items: center;
				justify-content: space-evenly;

				@media only screen and (max-width: $small-width) {
					justify-content: flex-start;
				}
			}

			&.image-showcase--no-slides {
				cursor: unset;
			}
		}

		.image-slideshow-contents {
			display: none;
		}

		.image-slideshow-overlay {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			display: none;
			width: 100%;
			height: 100%;
			background-color: rgba(black, 0.8);
			z-index: 1000;
			align-items: center;
			justify-content: center;

			.image-show-control {
				height: 50px;
				width: 50px;
				color: white;
				background-color: inherit;
				cursor: pointer;
				border: none;
				position: absolute;
				font-size: 24px;

				&.image-show-control--close {
					top: 0;
					right: 0;
				}

				&.image-show-control--next {
					top: 50%;
					right: 0;
				}

				&.image-show-control--prev {
					top: 50%;
					left: 0;
				}
			}

			.image-show {
				object-fit: cover;
				height: 100%;
			}
		}

		.image-item {
			display: block;
			margin: 12px;
			transform: translateX(0px);
			position: relative;

			img {
				display: block;
				width: 300px;
				height: 200px;
				object-fit: cover;

				.image-title {
					text-align: center;
					padding: 16px;
					font-weight: 500;
					font-size: 18px;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					color: #fafafa;
					background: rgba(black, 0.3);
				}
			}
		}

		.video-showcase {
			margin-top: 5px;
			padding: 0 $side-padding;
			width: calc(100% - 2 * #{$side-padding});
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;
		}
	}

	.v-lazy-image {
		filter: blur(10px);
		transition: filter 0.7s;
	}

	.v-lazy-image-loaded {
		filter: blur(0);
	}
}

.video-container {
	padding: 0 5px;
	margin-bottom: 100px;
	width: $frame-width;
	height: calc(#{$title-height} + #{$frame-height});


	@media only screen and (max-width: $small-width) {
		width: 100%;
	}

	.video-placeholder {
		background-image: $innsbruck-placeholder;
		background-size: cover;

		&.innsbruck {
			background-image: $innsbruck-placeholder;
		}
		&.festival {
			background-image: $festival-placeholder;
		}
		&.koffieconcert {
			background-image: $koffieconcert-placeholder;
		}

		.video-frame {
			height: $frame-height;
			width: 100%;
			display: block;

			@media only screen and (max-width: $tiny-width) {
				height: $tiny-frame-height;
			}
		}
	}

	.video-title-container {
		display: flex;
		justify-content: space-between;

		.video-title {
			margin: 0;
			display: inline-block;

			&.video-subtitle {
				font-weight: 300;
			}
		}
	}
}

.concert-page {
	.concert-title {
		text-align: center;
		margin: 50px 0;
	}

	.concert-description {
		width: 100%;
		align-items: center;
		justify-content: center;
		display: flex;

		p {
			width: 60%;
			text-align: center;
			margin: 20px;
			font-size: 1.3rem;

			@media only screen and (max-width: $small-width) {
				width: 100%;
			}
		}
	}

	.concert-recording {
		display: flex;
		justify-content: normal;
		align-items: flex-start;

		.recording-text {
			width: 50%;
			margin: 0 10px;
		}

		@media only screen and (max-width: $small-width) {
			flex-wrap: wrap;
			padding: 10px;

			.video-container {
				margin-bottom: 0;
				height: auto;
			}

			.recording-text {
				width: 100%;
			}
		}
	}
}