@import './variables';


.navigation-container {
	font-size: $nav-font-size;
	padding: $nav-padding 0;

	@media only screen and (max-width: 800px) {
		font-size: $nav-font-size-small;
	}

	a {
		text-decoration: none;
	}

	#navigation-regulator {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		background-color: $primary-color;
		z-index: 100;
		height: $nav-height;

		@media only screen and (max-width: $small-width) {
			&.open {
				height: 100%;
				background-color: rgba($primary-color, 0.9);

				.navigation-bar {
					height: 100%;
					flex-direction: column;

					.nav-items {
						display: block;
						flex: 1;
						overflow: auto;
						margin-bottom: 16px;

						.nav-item {
							.nav-item-content {
								display: block;
								height: auto;
								text-align: left;
								line-height: normal;
								margin: 10px 0;
								width: 90%;

								&:hover {
									border-bottom: none;
								}
							}

							.nav-sub-menu {
								position: static;
								background: none;
								box-shadow: none;
								backdrop-filter: none;
								display: block;
								padding: 0 24px;
								margin: 0;
							}
						}
					}
				}
			}
		}


		.navigation-bar {
			display: flex;
			flex-wrap: wrap;
			padding: 0 20px;

			.nav-logo-container {
				display: flex;
				height: $nav-height;
				width: 1.5*$nav-height;

				@media only screen and (max-width: $small-width) {
					display: flex;
					width: 100%;
					justify-content: space-between;
				}

				.nav-logo {
					height: $nav-logo-height;
					margin: 5px 10px;
					cursor: pointer;
				}

				.nav-menu-button {
					display: none;
					//width: $nav-height;
					//height: $nav-height;
					color: white;
					border-radius: 9999px;
					justify-content: center;
					align-items: center;
					vertical-align: center;
					text-align: center;
					cursor: pointer;

					&:hover {
						background: rgba(0, 0, 0, 0.1);
					}

					@media only screen and (max-width: $small-width) {
						display: flex;
						justify-content: space-between;
					}
				}
			}

			.nav-items {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex: 1;
				height: $nav-height;

				@media only screen and (max-width: $small-width) {
					display: none;
				}

				.nav-sub-menu {
					display: none;
					position: absolute;
					left: 0;
					margin-top: -2px;
					padding-bottom: 5px;
					padding-top: 8px;
					top: 100%;
					min-width: 220px;
					box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
					background: rgba($primary-color, 0.8);
					backdrop-filter: saturate(123%) blur(4px);
					font-size: $nav-sub-font-size;

					@media only screen and (max-width: 800px) {
						font-size: $nav-font-size-small;
					}
				}

				.nav-item {
					position: relative;

					.nav-item-content {
						position: relative;
						padding: 5px;
						margin: 0 10px;
						display: inline-block;
						align-items: center;
						justify-content: center;
						text-align: center;
						vertical-align: center;
						color: $white-color;

						&:hover {
							border-bottom: 1px solid $white-color;
						}
					}

					&:hover {
						.nav-sub-menu {
							display: block;
						}
					}

					&.nav-button {
						padding: 4px 8px;
						border-radius: 6px;
						cursor: pointer;
						border: 1px solid $white-color;
						margin-right: 10px;
					}

					&.nav-sub-item {
						display: block;
					}
				}
			}
		}
	}
}

.footer {
	display: flex;
	margin-top: auto;
	width: 100%;
	height: $footer-height;
	align-items: center;
	justify-content: center;
	background-color: rgba(10, 10, 10, 0.8);
	padding: $footer-padding 0;

	a {
		color: white;
		padding: 0 10px;
		text-decoration: none;
		vertical-align: middle;

		@media only screen and (max-width: $tiny-width) {
			font-size: 11px;
			padding: 0 4px;
		}

		img {
			height: calc(#{$footer-height} - 4px);
			width: $footer-height;
			vertical-align: middle;
			display: inline-block;

			&.icon-facebook {
				background-color: rgb(59, 89, 152);
				border-radius: 50px;
			}

			&.icon-youtube {
				background-color: rgb(255, 0, 0);
				border-radius: 10px;
			}

			&.icon-spotify {
				border-radius: 10px;
			}
		}
	}
}