$primary-color: #920000;
$secondary-color: rgb(2, 21, 81);
$tertiary-color: rgb(241, 9, 47);
$white-color: #fff;
$grey-color: #C0C0C0;
$grey-color2: #A9A9A9;


$nav-height: 5rem;
$nav-font-size: 22px;
$nav-font-size-small: 18px;
$nav-sub-font-size: 20px;
$nav-padding: 1rem;
$nav-logo-height: calc(#{$nav-height} - 10px);

$footer-height: 36px;
$footer-padding: 10px;

$top-container-height: 400px;

@font-face {
  font-family: 'Bitter';
  src: url("../fonts/Bitter/static/Bitter-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}


$big-width: 1200px;
$small-width: 650px;
$tiny-width: 400px;
$medium-width: 900px;

