<template>
    <div class="page-container">
        <nav-bar/>
        <Nuxt/>
        <footer-bar/>
    </div>
</template>

<script>
    import Navigation from '~/components/navigation';
    import Footer from '~/components/footer-bar';

    export default {
        components: {
            'nav-bar': Navigation,
            'footer-bar': Footer,
        }
    }
</script>