<template>
    <div class="main">
        <div class="main-container">
            <div class="agenda-container-actueel slug-list-container">
                <h1>Concertagenda</h1>
                <ul>
                    <li v-for="item of agenda" :key="item.slug">
                        <a class="slug-list-item agenda-item" :href="item.link" target="_blank">
                            <div class="agenda-item-image-container">
                                <img :src="item.image" :alt="item.alt" class="agenda-item-image"/>
                            </div>
                            <div class="slug-list-item-text agenda-item-information">
                                <h2 class="slug-list-item-title agenda-item-title"> {{item.title}} </h2>
                                <h4 class="slug-list-item-info agenda-item-subtitle"> {{item.subtitle}} </h4>
                                <p class="slug-list-item-info agenda-item-location"> {{item.location}} </p>
                                <p class="slug-list-item-info agenda-item-date"> {{formatDate(item.date)}} </p>
                                <p class="slug-list-item-info agenda-item-admission"> {{item.admission}} </p>
                                <p class="slug-list-item-info agenda-item-email">
                                  Voor meer informatie, mail naar
                                  <a href="mailto:haarlemsaccordeonorkest@gmail.com" target="_blank">
                                    haarlemsaccordeonorkest@gmail.com
                                  </a>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <h2>Eerdere concerten</h2>
            <p>Dit zijn enkele hoogtepunten van de laatste jaren.</p>
            <nuxt-link to="/alleconcerten">
                Bekijk hier de lijst met optredens vanaf 1985.
            </nuxt-link>

            <div class="oude-concerten">
                <div class="agenda-item--old">
                    <div class="agenda-item-image">
                        <img class="agenda-item-image agenda-item--old"
                             src="/images/agenda/innsbruck-2019.jpeg"
                             alt="Innsbruck 2019"/>
                    </div>
                    <div class="agenda-item-information agenda-item--old">
                        <p class="agenda-item-title">World Music Festival Innsbruck 2019</p>
                        <p class="agenda-item-when">30 mei t/m 2 juni 2019</p>
                    </div>
                </div>
                <div class="agenda-item--old">
                    <div>
                        <img class="agenda-item-image agenda-item--old" src="/images/agenda/60jarig.jpg"
                             alt="60-Jarig Jubileum"/>
                    </div>
                    <div class="agenda-item-information agenda-item--old">
                        <p class="agenda-item-title">60-jarig jubileum</p>
                        <p class="agenda-item-when">26 januari 2019</p>
                        <p class="agenda-item-bijzonderheden">Doopsgezinde Kerk Haarlem</p>
                    </div>
                </div>
                <div class="agenda-item--old">
                    <div>
                        <img class="agenda-item-image agenda-item--old" src="/images/agenda/dinslaken-2017.jpg"
                             alt="Uitwisseling Dinslaken"/>
                    </div>
                    <div class="agenda-item-information agenda-item--old">
                        <p class="agenda-item-title">Uitwisseling naar Dinslaken</p>
                        <p class="agenda-item-when">26 november 2017</p>
                        <p class="agenda-item-bijzonderheden">met Accordeon-Orchester 1980 uit Oberhausen/ Dinslaken</p>
                    </div>
                </div>
                <div class="agenda-item--old">
                    <div>
                        <img class="agenda-item-image agenda-item--old"
                             src="/images/agenda/uitwisseling-2016.jpg"
                             alt="Uitwisseling Dinslaken"/>
                    </div>
                    <div class="agenda-item-information agenda-item--old">
                        <p class="agenda-item-title">Uitwisseling met Dinslaken</p>
                        <p class="agenda-item-when">28 mei 2016</p>
                        <p class="agenda-item-bijzonderheden">met Accordeon-Orchester 1980 uit Oberhausen/ Dinslaken</p>
                    </div>
                </div>
                <div class="agenda-item--old">
                    <div>
                        <img class="agenda-item-image agenda-item--old" src="/images/agenda/tango.jpg"
                             alt="TAngoconcert"/>
                    </div>
                    <div class="agenda-item-information agenda-item--old">
                        <p class="agenda-item-title">Tangoconcert</p>
                        <p class="agenda-item-when">28 november 2015</p>
                    </div>
                </div>
                <div class="agenda-item--old">
                    <div>
                        <img class="agenda-item-image agenda-item--old" src="/images/agenda/innsbruck-2013.jpg"
                             alt="Innsbruck 2013"/>
                    </div>
                    <div class="agenda-item-information">
                        <p class="agenda-item-title">Innsbruck 2013</p>
                        <p class="agenda-item-when">9 t/m 12 mei 2013</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        async asyncData({ $content, params }) {
            let agenda = await $content('agenda', params.slug)
                .sortBy('date', 'asc')
                .fetch();

            // only show upcoming concerts
            const curTime = new Date();
            // return only items from this and last year
            agenda = agenda.filter(item => {
                const dateStrings = item.date.split(" ")[0].split("-");
                const date = new Date(parseInt(dateStrings[0]),
                    parseInt(dateStrings[1]) - 1,
                    parseInt(dateStrings[2]) + 1); // Date takes in weird arguments
                 return date > curTime;
            });
            return { agenda: agenda };
        },

        methods: {
            formatDate(date) {
                const splitted = date.split(" ");
                const dateStrings = splitted[0].split("-");
                const months = ["Januari", "Februari", "Maart", "April", "Mei", "Juni",
                    "Juli", "Augustus", "September", "Oktober", "November", "December"];
                const days = ["Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag"];
                return days[parseInt(splitted[1]) - 1] + " " + dateStrings[2] + " " + months[parseInt(dateStrings[1]) - 1] +
                        " " + dateStrings[0] + ", " + splitted[2] + " uur"
            }
        }
    }
</script>
