<template>
    <div class="main">
        <div class="top-container poster-container">
            <!--image loaded in background with css-->
        </div>
        <div class="text-container">
            <nuxt-content  class="styled-list"  v-bind:document="documents.page"></nuxt-content>
        </div>
    </div>
</template>


<script>
    export default {
        async asyncData({ $content }) {
            const [page] = await Promise.all([
                $content('alle-concerten-gefilterd').fetch()
            ]);

            return {
                documents: {
                    page
                }
            }
        },
    }
</script>