<template>
    <div class="main">
        <div class="text-container">
            <nuxt-content v-bind:document="documents.page"></nuxt-content>
        </div>
    </div>
</template>

<script>
    export default {
        async asyncData({ $content }) {
            const [page] = await Promise.all([
                $content('contact').fetch()
            ]);

            return {
                documents: {
                    page
                }
            }
        },
    }
</script>