<template>
    <div class="main">
        <div class="top-container">
<!--            <iframe class="top-container-video"-->
<!--                    src="https://www.youtube.com/embed/cbBuZKJewSA?autoplay=1&mute=1&controls=0&start=21&loop=1"></iframe>-->
            <img class="top-container-image" src="/images/algemeen/orkest-medium.JPG" alt="Haarlems Accordeonorekst"/>
        </div>
        <div class="home-container">
            <section>
                <div class="home-container-title-block home-container-block--background-secondary">
                    <h1>Haarlems Accordeonorkest</h1>
                    <h4>
                         Het Haarlems Accordeonorkest is opgericht in 1959 en bestaat uit 20 spelers in de leeftijd van 19 tot 84 jaar. Het orkest wil graag de veelzijdigheid van het accordeon uitdragen. Daarom wordt een veelzijdigheid aan muziek gespeeld van klassiek tot modern, evenals pop, filmmuziek, tango en uiteraard specifiek voor accordeonorkest gecomponeerde stukken. Het orkest heeft meerdere prijzen gewonnen op het Orkestenfestival van het Novam en tweemaal deelgenomen in de Hochstufe van het World Music Festival in Insbruck. Sinds 2020 staat het orkest onder leiding van Leo van Lierop.
                    </h4>
                </div>
            </section>

            <div v-for="(item, index) in news" class="home-container-block"
                           :class="{'home-container-block--background-primary': index % 2 === 0,
                           'home-container-block--background-secondary': index % 2 !== 0}">
                <span v-if="index % 2 === 0">
                    <div v-if="index % 2 === 0" class="split left home-block-text-content">
                        <h3>{{item.title}}</h3>
                        <h5>{{formatDate(item.date)}}</h5>
                        <p>{{item.description}}</p>
                        <a v-if="item.link" class="home-container-button" :href="item.link" target="_blank">
                            {{item.linkText}}
                        </a>
                    </div>
                    <div class="split right home-block-image-content">
                        <img v-if="item.image" :src="item.image" :alt="item.alt" class="home-container-block-image"/>
                        <img v-else src="/images/algemeen/groepsfoto.JPG" alt="Haarlems Accordeonorkest" class="home-container-block-image"/>
                    </div>
                </span>
                <span v-else>
                    <div class="split left home-block-image-content">
                        <img v-if="item.image" :src="item.image" :alt="item.alt" class="home-container-block-image"/>
                        <img v-else src="/images/algemeen/groepsfoto.JPG" alt="Haarlems Accordeonorkest" class="home-container-block-image"/>
                    </div>
                    <div class="split right home-block-text-content">
                        <h3>{{item.title}}</h3>
                        <h5>{{formatDate(item.date)}}</h5>
                        <p>{{item.description}}</p>
                        <nuxt-link v-if="item.link" class="home-container-button" :to="item.link">
                            {{item.linkText}}
                        </nuxt-link>
                    </div>
                </span>
            </div>


            <split-content :secondary="true">
                <template v-slot:first>
                    <img src="/images/nieuws/boeken2.JPG"
                         alt="dinnslaken" class="home-container-block-image"/>
                </template>

                <template v-slot:second>
                    <h3>Boeken</h3>
                    <p>
                        Op zoek naar een muzikale opvulling voor uw evenement? Wij spelen tango's tot klassiek tot
                        filmmuziek.
                    </p>
                    <nuxt-link class="home-container-button" to="/contact">
                        Boek ons!
                    </nuxt-link>
                </template>
            </split-content>

          <split-content :primary="true">
            <template v-slot:second>
              <img src="/images/nieuws/lessen.jpg"
                   alt="innsbruck" class="home-container-block-image"/>
            </template>

            <template v-slot:first>
              <h3>Accordeonlessen</h3>
              <p>
                Wij bieden accordeonlessen van gediplomeerde docenten aan voor onze leden. Je kan je ook
                aanmelden voor een gratis proefles.
              </p>
              <nuxt-link class="home-container-button" to="/orkest/lessen">
                Meer informatie
              </nuxt-link>
            </template>
          </split-content>

            <split-content :secondary="true">
                <template v-slot:first>
                    <img src="/images/nieuws/repertoire.jpg"
                         alt="repertoire" class="home-container-block-image"/>
                </template>

                <template v-slot:second>
                    <h3>Repertoire</h3>
                    <p>
                        Het Haarlems Accordeonorkest speelt een repertoire, van symfonie bewerkingen tot
                        filmmuziek.
                    </p>
                    <nuxt-link class="home-container-button" to="/orkest/repertoire">
                        Kijk hier voor het overzicht
                    </nuxt-link>
                </template>
            </split-content>
        </div>
    </div>
</template>


<script>
    import Split from "../components/split";

    export default {
        async asyncData({ $content, params }) {
            const news = await $content('nieuws', params.slug)
                .sortBy('date', 'desc')
                .limit(3)
                .fetch();

            return {
                news: news
            };
        },

        components: {
            'split-content': Split,
        },

        methods: {
            formatDate(date, inUse) {
                const splitted = date.split("-");
                const months = ["Januari", "Februari", "Maart", "April", "Mei", "Juni",
                    "Juli", "Augustus", "September", "Oktober", "November", "December"];
                if (splitted.length === 2 && date.length === 7) {
                    return months[parseInt(splitted[1]) - 1] + " " + splitted[0];
                } else if (inUse) {
                    return "Komt binnenkort";
                } else {
                    return "";
                }
            }
        }
    }
</script>
