<template>
  <div class="main">
    <div class="text-container">
      <h1>Koop hier uw kaartjes</h1>
      <h2>Er zijn momenteel geen kaartjes te bestellen voor onze concerten.</h2>
    </div>
  </div>
</template>

<script>
import Split from "../components/split";

export default {
  async asyncData({$content, params}) {
  },

  components: {
    'split-content': Split,
  }
}
</script>
