<template>
    <div class="main">
        <nuxt-link to="/concertverslagen" class="back-link">
            Terug naar alle verslagen
        </nuxt-link>
        <div class="text-container concertverslag-container">
            <article class="concertverslag">
                <h1 class="concertverslag-title">{{article.title}}</h1>
                <p class="concertverslag-date"> {{article.date}} | {{article.author}}</p>
                <nuxt-content :document="article"/>
            </article>
        </div>
    </div>
</template>
<script>
    export default {
        async asyncData({ $content, params }) {
            const article = await $content('concertverslagen', params.slug).fetch();

            return { article: article }
        }
    }
</script>
