<template>
    <div class="main">
        <div class="text-container">
            <div class="slug-list-container">
                <h1>Concertverslagen</h1>
                <ul>
                    <li v-for="verslag of verslagen" :key="verslag.slug">
                        <nuxt-link class="slug-list-item" :to="'/concertverslagen/'+ verslag.slug">
                            <img v-if="verslag.image" :src="verslag.image" :alt="verslag.alt" class="slug-list-item-image"/>
                            <img v-else src="/images/algemeen/groepsfoto.JPG" alt="Haarlems Accordeonorkest" class="slug-list-item-image"/>
                            <div class="slug-list-item-text">
                                <h2 class="slug-list-item-title"> {{verslag.title}} </h2>
                                <p class="slug-list-item-date"> {{verslag.date}} | {{verslag.author}} </p>
                                <p class="slug-list-item-description"> {{verslag.description}} </p>
                            </div>
                        </nuxt-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        async asyncData({ $content, params }) {
            const verslagen = await $content('concertverslagen', params.slug)
                .only(['title', 'description', 'image', 'slug', 'alt', 'date', 'date-order', 'author'])
                .sortBy('date-order', 'desc')
                .fetch();

            return { verslagen: verslagen };
        }
    }
</script>
