<template>
  <div class="main">
    <nuxt-link to="/nieuws" class="back-link">
      Terug naar nieuws
    </nuxt-link>
    <div class="krantenartikel">
      <p>
        <a href="https://www.haarlemsdagblad.nl/cnt/dmf20190122_13863469/heilig-vuur-jubileumconcert-60-jarig-haarlems-accordeon-orkest?utm_source=google&utm_medium=organic"
            target="_blank">
          Uit het Haarlems Dagblad, 10 september 2020
        </a>
      </p>
      <p>
        <a href="https://fondspodiumkunsten.nl/nl/actueel/producties/jubileumconcert_haarlems_accordeonorkest/"
            target="_blank">
          Het Fonds Podiumkunsten op 19 januari 2019.
        </a>
      </p>
      <img src="/images/nieuws/artikelen/HD_23januari2019.jpg" alt="Krantenartikel 60 jaar jubileum"/>
    </div>
  </div>
</template>