<template>
    <div class="main">
        <nuxt-link to="/nieuws" class="back-link">
            Terug naar nieuws
        </nuxt-link>
        <div class="krantenartikel">
            <p>
                <a href="https://m.haarlemsdagblad.nl/cnt/DMF20200910_86208384/zonder-accordeon-word-ik-ongelukkig-evert
                -van-amsterdam-stopt-na-22-jaar-als-dirigent-van-haarlems-accordeonorkest-en-heeft-straks-meer-tijd
                -om-zelf-te-spelen?utm_source=google&utm_medium=organic" target="_blank">
                    Uit het Haarlems Dagblad, 10 september 2020.
                </a>
            </p>
            <p>
                <a href="https://www.noordhollandsdagblad.nl/cnt/dmf20200910_86208384/zonder-accordeon-word-ik-ongelukkig-
                evert-van-amsterdam-stopt-na-22-jaar-als-dirigent-van-haarlems-accordeonorkest-en-heeft-straks-
                meer-tijd-om-zelf-t?utm_source=google&utm_medium=organic" target="_blank">
                    Uit het Noord Hollands Dagblad van 10 september 2020.
                </a>
            </p>
            <img src="/images/nieuws/artikelen/2020-09-evert3.jpeg" alt="Krantenartikel Evert van Amsterdam"/>
        </div>
    </div>
</template>