<template>
    <div class="main">
        <div class="text-container">
            <div class="slug-list-container">
                <h1>Ouder nieuws</h1>
                <ul>
                    <li v-for="item of news" :key="item.slug">
                        <nuxt-link class="slug-list-item" v-if="item.link" :to="item.link">
                        <nuxt-link class="slug-list-item" v-else :to="#">
                            <img v-if="item.image" :src="item.image" :alt="item.alt" class="slug-list-item-image"/>
                            <img v-else src="/images/algemeen/groepsfoto.JPG" alt="Haarlems Accordeonorkest"/>
                            <div class="slug-list-item-text">
                                <h2 class="slug-list-item-title"> {{item.title}} </h2>
                                <p class="slug-list-item-date"> {{formatDate(item.date)}} </p>
                                <p class="slug-list-item-description"> {{item.description}} </p>
                            </div>
                        </nuxt-link>
                    </li>
                </ul>
            </div>
          <div class="link-button-container">
            <nuxt-link class="link-button" to="/nieuws">Terug naar recent nieuws</nuxt-link>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        async asyncData({$content, params}) {
            // get the news articles from the contents
            let news = await $content('nieuws', params.slug)
                .sortBy('date', 'desc')
                .fetch();

            // Get the items from more than two years ago.
            news = news.filter(item => {
                const curTime = new Date();
                return parseInt(item.date.split("-")[0]) <= curTime.getFullYear() - 2;
            });

            return {news: news};
        },

        methods: {
            formatDate(date) {
                const splitted = date.split("-");
                const months = ["Januari", "Februari", "Maart", "April", "Mei", "Juni",
                    "Juli", "Augustus", "September", "Oktober", "November", "December"];
                return months[parseInt(splitted[1]) - 1] + " " + splitted[0];
            }
        }
    }
</script>
