<template>
    <div class="main">
        <nuxt-link to="/nieuws" class="back-link">
            Terug naar nieuws
        </nuxt-link>
        <div class="krantenartikel-portraits-box">
          <div class="krantenartikel krantenartikel-portraits">
              <img src="/images/nieuws/artikelen/2005-12-promotie.jpeg" alt="Krantenartikel Promotie Eredivsie"/>
          </div>
          <div class="krantenartikel krantenartikel-portraits">
              <img src="/images/nieuws/artikelen/1999-09-hans-en-riek.jpeg" alt="Krantenartikel Hans en Riek van den Bogaart"/>
          </div>
          <div class="krantenartikel krantenartikel-portraits">
              <img src="/images/nieuws/artikelen/1986-10-oproep-musici.PNG" alt="Krantenartikel oproep musici"/>
          </div>
        </div>
    </div>
</template>