<template>
    <div class="main">
        <div class="top-container">
<!--            <img class="top-container-image top-container-image&#45;&#45;no-zoom" src="/nieuws/Leo.jpg" alt="Dirigent"/>-->
        </div>
        <div class="text-container">
            <nuxt-content v-bind:document="documents.page"></nuxt-content>
        </div>
    </div>
</template>

<script>
    export default {
        async asyncData({ $content }) {
            const [page] = await Promise.all([
                $content('dirigent-leo').fetch()
            ]);

            return {
                documents: {
                    page
                }
            }
        },
    }
</script>