<template>
  <div class="main">
    <div class="top-container">
      <img class="top-container-image top-container-image--no-zoom" src="/images/algemeen/groepsfoto.JPG"
           alt="Leden"/>
    </div>
    <div class="page-header--centered">
      <h1>De Leden</h1>
    </div>
    <div class="stemmen-container">
      <h3 class="partij-name">Eerste stem</h3>
      <div class="partij-container">
        <div class="lid-container">
          <img src="/images/leden/issa_accordeon.jpg" alt="Issa Hanou" class="lid-image"/>
          <p class="lid-name">Issa Hanou</p>
          <div class="lid-text-box">
            <p class="lid-text">
              Issa speelt sinds haar 9de accordeon en is in 2015 bij het orkest gekomen. Van 2020 tot en met 2023 studeerde zij Practicum Musicae Klassiek Accordeon bij An Raskin aan het Koninklijk Conservatorium.
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/ron_accordeon.jpg" alt="Ron Paeper" class="lid-image"/>
          <p class="lid-name">Ron Paeper</p>
          <div class="lid-text-box">
            <p class="lid-text">
              In 1983 ben ik via mijn docent Jacques Willems bij het orkest gekomen,
              en sindsdien speel ik met veel passie en plezier bij het orkest.
              Sinds geruime tijd ben ik voorzitter van een fijn bestuur dat zich inzet om een hoog muzikaal niveau te combineren
              met plezier en een gezellige sfeer.
            </p>
          </div>
        </div>        
        <div class="lid-container">
          <img src="/images/leden/joelle_accordeon.JPG" alt="Joëlle Dek" class="lid-image"/>
          <p class="lid-name">Joëlle Dek</p>
          <div class="lid-text-box">
            <p class="lid-text">
              Joëlle speelt sinds haar 8e accordeon. 
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/nina_accordeon.jpeg" alt="Nina Reehorst" class="lid-image"/>
          <p class="lid-name">Nina Reehorst</p>
          <div class="lid-text-box">
            <p class="lid-text">
              Het Haarlems accordeon orkest betekent voor mij meer dan alleen muziek maken!
              Ik heb hier vriendschappen opgedaan en de liefde voor het instrument is alleen maar groter geworden!
            </p>
          </div>
        </div>
      </div>

      <h3 class="partij-name">Tweede stem</h3>
      <div class="partij-container partij-container--background">
        <div class="lid-container">
          <img src="/images/leden/jolijn_accordeon.jpg" alt="Jolijn Bakker" class="lid-image"/>
          <p class="lid-name">Jolijn Bakker</p>
          <div class="lid-text-box">
            <p class="lid-text">
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/default.jpg" alt="Simone Visser" class="lid-image"/>
          <p class="lid-name">Simone Visser</p>
          <div class="lid-text-box">
            <p class="lid-text">
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/tanja_accordeon.JPG" alt="Tanja van Opzeeland" class="lid-image"/>
          <p class="lid-name">Tanja van Opzeeland</p>
          <div class="lid-text-box">
            <p class="lid-text">
              Ik ben begonnen met accordeon spelen toen ik acht jaar was,
              ik ben nu 22 jaar lid van het HAO waar ik met veel plezier speel op de tweede partij.
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/joke_accordeon.jpg" alt="Joke van Straaten" class="lid-image"/>
          <p class="lid-name">Joke van Straaten</p>
          <div class="lid-text-box">
            <p class="lid-text">
              Ik ben Joke van Straaten en speel al vanaf mijn 6de accordeon, een instrument waar je verliefd op wordt.
              Het samen musiceren maakt mij blij, vooral omdat het orkest uit zo'n gevarieerd gezelschap bestaat. Dat
              maakt het interessant en houdt mij gemotiveerd om te blijven spelen.
            </p>
          </div>
        </div>         
      </div>


      <h3 class="partij-name">Derde stem</h3>
      <div class="partij-container">
        <div class="lid-container">
          <img src="/images/leden/default.jpg" alt="Priy Werry" class="lid-image"/>
          <p class="lid-name">Priy Werry</p>
          <div class="lid-text-box">
            <p class="lid-text">
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/marian_accordeon.JPG" alt="Marian Belderok" class="lid-image"/>
          <p class="lid-name">Marian Belderok</p>
          <div class="lid-text-box">
            <p class="lid-text">
              Marian speelt ongeveer 30 jaar accordeon en heeft nog steeds les. Ze geniet van de wekelijkse repetities
              en de optredens met het HAO.
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/floor_portret.jpg" alt="Floor de Mulder" class="lid-image"/>
          <p class="lid-name">Floor de Mulder</p>
          <div class="lid-text-box">
            <p class="lid-text">
              Floor begon haar accordeonlessen toen zij 8 jaar was, bij Evert van Amsterdam.
              Sinds 2004 speelt ze bij het Haarlems Accordeonorkest, waar zij begon in de vierde stem.
              Tegenwoordig speelt zij voornamelijk in de tweede stem.
            </p>
          </div>
        </div>        
        <div class="lid-container">
          <img src="/images/leden/default.jpg" alt="Fleur van der Meij" class="lid-image"/>
          <p class="lid-name">Fleur van der Meij</p>
          <div class="lid-text-box">
            <p class="lid-text">
            </p>
          </div>
        </div>
      </div>


      <h3 class="partij-name">Vierde stem</h3>
      <div class="partij-container partij-container--background">
        <div class="lid-container">
          <img src="/images/leden/default.jpg" alt="Maaike Lips" class="lid-image"/>
          <p class="lid-name">Maaike Lips</p>
          <div class="lid-text-box">
            <p class="lid-text">

            </p>
          </div>
        </div>      
        <div class="lid-container">
          <img src="/images/leden/margreet_accordeon.jpg" alt="Margreet de Haas" class="lid-image"/>
          <p class="lid-name">Margreet de Haas</p>
          <div class="lid-text-box">
            <p class="lid-text">
              Heerlijk spelen in dit orkest met een fijne dirigent en aardige, gezellige goede spelers.
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/default.jpg" alt="Hans van Roode" class="lid-image"/>
          <p class="lid-name">Hans van Roode</p>
          <div class="lid-text-box">
            <p class="lid-text">
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/default.jpg" alt="Petra van der Meij-van Bremen" class="lid-image"/>
          <p class="lid-name">Petra van der Meij-van Bremen</p>
          <div class="lid-text-box">
            <p class="lid-text">
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/default.jpg" alt="Pelle Bruijs" class="lid-image"/>
          <p class="lid-name">Pelle Bruijs</p>
          <div class="lid-text-box">
            <p class="lid-text">
            </p>
          </div>
        </div>        
      </div>

      <div class="partij-container">
        <div class="lid-container">
          <img src="/images/leden/default.jpg" alt="Gilles Schuringa" class="lid-image"/>
          <p class="lid-name">Gilles Schuringa</p>
          <p class="lid-functie">Basaccordeon</p>
          <div class="lid-text-box">
            <p class="lid-text">
            </p>
          </div>
        </div>
        <div class="lid-container">
          <img src="/images/leden/default.jpg" alt="Willem ten Sijthoff" class="lid-image"/>
          <p class="lid-name">Willem ten Sijthoff</p>
          <p class="lid-functie">Slagwerk</p>
          <div class="lid-text-box">
            <p class="lid-text">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
