<template>
    <div class="main">
        <div class="top-container">
            <img class="top-container-image" src="/images/algemeen/airtune-medium.JPG" alt="Lessen"/>
        </div>
        <div class="text-container">
            <nuxt-content v-bind:document="documents.page"></nuxt-content>
            <img class="text-container-image image-align--top" src="/images/algemeen/kag.JPG" alt="Opleidingsorkest"/>
            <nuxt-content v-bind:document="documents.subpage"></nuxt-content>
        </div>
    </div>
</template>

<script>
    export default {
        async asyncData({ $content }) {
            const [page, subpage] = await Promise.all([
                $content('lessen').fetch(),
                $content('opleidingsorkesten').fetch()
            ]);

            return {
                documents: {
                    page,
                    subpage
                }
            }
        },
    }
</script>