<template>
    <div class="main">
        <div class="top-container">
            <img class="top-container-image" src="/images/algemeen/compositie-medium.png"
                 alt="Repertoire"/>
        </div>
        <div class="text-container repertoire-container">
            <h1>Het Repertoire</h1>
            <p>Een greep uit het repertoire van het Haarlems Accordeonorkest van de afgelopen jaren.</p>

            <table class="repertoire-table">
                <thead>
                <tr>
                    <th @click="sort('Titel')">
                        Titel
                        <span v-if="sortKey === 'Titel' && reversed"><i class="material-icons">expand_less</i></span>
                        <span v-if="sortKey === 'Titel' && !reversed"><i class="material-icons">expand_more</i></span>
                        <span v-if="sortKey !== 'Titel'"><i class="material-icons">unfold_more</i></span>
                    </th>
                    <th @click="sort('Componist')">
                        Componist
                        <span v-if="sortKey === 'Componist' && reversed"><i
                                class="material-icons">expand_less</i></span>
                        <span v-if="sortKey === 'Componist' && !reversed"><i
                                class="material-icons">expand_more</i></span>
                        <span v-if="sortKey !== 'Componist'"><i class="material-icons">unfold_more</i></span>
                    </th>
                    <th @click="sort('Arrangeur')">
                        Arrangeur
                        <span v-if="sortKey === 'Arrangeur' && reversed"><i
                                class="material-icons">expand_less</i></span>
                        <span v-if="sortKey === 'Arrangeur' && !reversed"><i
                                class="material-icons">expand_more</i></span>
                        <span v-if="sortKey !== 'Arrangeur'"><i class="material-icons">unfold_more</i></span>
                    </th>
                    <th @click="sort('Genre')">
                        Genre
                        <span v-if="sortKey === 'Genre' && reversed"><i class="material-icons">expand_less</i></span>
                        <span v-if="sortKey === 'Genre' && !reversed"><i class="material-icons">expand_more</i></span>
                        <span v-if="sortKey !== 'Genre'"><i class="material-icons">unfold_more</i></span>
                    </th>
                    <!-- <th @click="sort('laatste concert')">
                        Uitgevoerd
                        <span v-if="sortKey === 'laatste concert' && reversed"><i class="material-icons">expand_less</i></span>
                        <span v-if="sortKey === 'laatste concert' && !reversed"><i
                                class="material-icons">expand_more</i></span>
                        <span v-if="sortKey !== 'laatste concert'"><i class="material-icons">unfold_more</i></span>
                    </th> -->
                </tr>
                </thead>
                <tbody>
                <tr v-for="piece of sortedRepertoire">
                    <td>{{piece["Titel"]}}</td>
                    <td>{{piece["Componist"]}}</td>
                    <td>{{piece["Arrangeur"]}}</td>
                    <td>{{piece["Genre"]}}</td>
                    <!-- <td>{{formatDate(piece["laatste concert"], piece["In gebruik"] === 'ja')}}</td> -->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    const getPieces = () => import('../../static/data/archief.json').then(m => m.default || m);

    let sortKey = "Titel";
    let reversed = false;
    let sortedRepertoire = [];

    export default {
        async asyncData() {
            let repertoire = await getPieces();
            repertoire = repertoire.filter(function (piece) {
                return piece['op repetoirelijst site'] === 'ja';
            });
            let sortedRepertoireMap = {};
            repertoire.forEach(function (piece) {
                const filteredRepertoire = [piece];
                repertoire.filter(function (piece2) {
                    if (piece !== piece2 && piece["Componist"] === piece2["Componist"]) {
                        if (piece["Titel"].split(",")[0] === piece2["Titel"].split(",")[0]) {
                            filteredRepertoire.push(piece2);
                        }
                    }
                });
                let newPiece = filteredRepertoire[0];
                newPiece["Titel"] = newPiece["Titel"].split(",")[0];
                for (let i = 1; i < filteredRepertoire.length; i++) {
                    if (newPiece["laatste concert"] === ""
                        || parseInt(filteredRepertoire[i]["laatste concert"].split("-")[0])
                        > parseInt(newPiece["laatste concert"].split("-")[0])) {
                        newPiece["laatste concert"] = filteredRepertoire[i]["laatste concert"];
                    }
                }

                if (sortedRepertoireMap[newPiece["Titel"]] === undefined) {
                    sortedRepertoireMap[newPiece["Titel"]] = newPiece;
                }
            });
            for (let k in sortedRepertoireMap) {
                sortedRepertoire.push(sortedRepertoireMap[k]);
            }
            return {
                sortedRepertoire: sortedRepertoire,
                sortKey: sortKey,
                reversed: reversed
            };
        },


        data() {
            return {
                "sortKey": this.sortKey,
                "reversed": this.reversed,
                "sortedRepertoire": this.sortedRepertoire,
            }
        },
        methods: {
            sort(s) {
                if (s === this.sortKey) {
                    this.reversed = !this.reversed;
                }
                this.sortKey = s;
                this.sortedRepertoire.sort((a, b) => {
                    let modifier = 1;
                    if (this.reversed) modifier = -1;
                    if (a[this.sortKey] < b[this.sortKey]) return -1 * modifier;
                    if (a[this.sortKey] > b[this.sortKey]) return modifier;
                    return 0;
                });
            },
            formatDate(date, inUse) {
                const splitted = date.split("-");
                const months = ["januari", "februari", "maart", "april", "mei", "juni",
                    "juli", "augustus", "september", "oktober", "november", "december"];
                if (splitted.length === 2 && date.length === 7) {
                    return months[parseInt(splitted[1]) - 1] + " " + splitted[0];
                } else if (inUse) {
                    return "Komt binnenkort";
                } else {
                    return "";
                }
            }
        },
    }
</script>